.cost {
    padding: 15px;
    color: #e42b9a;
    min-width: 250px;
    display: flex;
    justify-content: center;
}
  .text_and_over-line {
    position: relative;
    margin-top: 20px;  /* Отступ от предыдущего элемента */
}
