.cost {
    padding: 15px;
    color: #e42b9a;
    min-width: 250px;
    display: flex;
    justify-content: center;
}
.text_ege_under {
    padding-bottom: 40px;
    width: 100%; 
    align-items: center; 
    text-align: center;
}
.ege_work3_container {
    position: relative;
    text-align: center;
    margin: 0px;
}
.work_note {
    display: flex;
    max-width: 100%;
    width: 800px;
    height: auto;
    border-radius: 7%;
}
.one_instance {
    display: flex;
    max-width: 100%;
    width: 800px;
    height: auto;
    border-radius: 3%;
}
.text_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    width: 100%;
    text-align: center;
}